<?xml version='1.0' encoding='utf-8'?>
<plugin 
id="toast.android" 
version="1.0.1" 
xmlns="http://apache.org/cordova/ns/plugins/1.0" 
xmlns:android="http://schemas.android.com/apk/res/android">
	<name>AndroidToaster</name>
	<js-module name="AndroidToaster" src="www/AndroidToaster.js">
	<clobbers target="cordova.plugins.AndroidToaster" /></js-module>
	<platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="AndroidToaster">
				<param name="android-package" value="toast.android.AndroidToaster" />
			</feature>
		</config-file>
		<config-file parent="/*" target="AndroidManifest.xml">
		</config-file><source-file src="src/android/AndroidToaster.java" 
		target-dir="src/toast/android/AndroidToaster" />
	</platform>
</plugin>